.desktop .hide-desktop {
  display: none;
}

body {
  margin-top: 4rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.grid-item {
  margin: 0;
}

.grid-item-content {
  margin: 0.75rem;
  padding: 1em;
}

/* Medium width */
@media (min-width: 52em) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.desktop .container.main {
  width: calc(100% - 25rem);
  padding-left: 0;
  float: right;
}

.desktop .sidemenu.sidebar {
  float: left;
  display: inline-block;
  z-index: inherit;
  width: 20rem;
  box-shadow: none;
  transition: 0.75s margin-left;
  background: inherit;
}

.desktop .sidemenu.sidebar .sidemenu-hero:before {
  background: none;
}

.desktop .sidemenu.sidebar .menu {
  background: inherit;
  box-shadow: none;
}

.desktop .sidemenu.sidebar .menu li {
  border-radius: 0.4em;
}

.desktop .sidemenu.sidebar .menu li:hover {
  background-color: #E5E5E5;
}

.form-error-list {
  list-style-type: none;
}

.error-list li {
  background: #FF0000;
  color: #FFFFFF;
  padding: 0.5rem;
}

.post-card {
  margin: 0.5rem;
}
.post-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.post-header .post-author {
  font-weight: bold;
  margin-left: 1rem;
}
.post-header img {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}
.post-footer {
  margin-top: 1rem;
}

.post-menu {
  position: absolute;
  right: 0;
  top: 0;
  color: #00000080;
}

.fab.very-small {
  font-size: 1em;
  line-height: 1em;
}

.smile-button {
	border: none;
	background-color: lightgrey;
	color: grey;
	font-size: 27px;
  font-weight: bold;
	height: 34px;
	width: 34px;
  padding: 0;
	line-height: 1em;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.new-post textarea {
	width: 100%;
	border: none;
	font-family: inherit;
	resize: none;
}

.new-post .post-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}
