{% extends 'index.htm' %}
{% block title %}Sign in to Tradar{% endblock %}
{% block extrahead %}
<style type="text/css">
  .top-bar {
    height:5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .login-card {
    padding: 1.5rem;
  }
  @media (min-width: 24em) {
    .login-card-container {
      max-width: 20rem;
      margin: auto;
    }
  }
  @media (min-height: 40rem) {
    .login-card-container {
      margin-top: calc(1/6 * 100%);
    }
  }
</style>
{% endblock %}
{% block body -%}
<div class="bg-green-500 top-bar"></div>
<div class="login-card-container">
  <form action="" method="post" class="card login-card">
    <h2>Sign in to Tradar</h2>
      <ul class="list error-list">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    {{ form.csrf_token }}
    <div>
      <div class="text-input-container">
      <i class="icon-person text-input-icon"></i>
      {{ form.username(class='text-input', placeholder='Username') }}
      </div>
    </div>
    <div>
      <div class="text-input-container">
      <i class="icon-lock text-input-icon"></i>
      {{ form.password(class='text-input', placeholder='Password') }}
      </div>
    </div>
    <div class="card-footer">
      <a class="button color-orange-500">Create new account</a>
      <input type="submit" class="button color-black" value="Sign in" />
    </div>
  </form>
</div>
{%- endblock %}
