{% extends 'index.htm' %}
{% block title %}Create a new Tradar account{% endblock %}
{% block extrahead %}
<style type="text/css">
  .top-bar {
    height:5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .login-card {
    padding: 1.5rem;
  }
  @media (min-width: 24em) {
    .signup-card-container {
      max-width: 20rem;
      margin: auto;
    }
  }
  @media (min-height: 40rem) {
    .signup-card-container {
      margin-top: calc(1/12 * 100%);
    }
  }
</style>
{% endblock %}
{% block body -%}
<div class="bg-green-500 top-bar"></div>
<div class="signup-card-container">
  <form action="" method="post" class="card login-card">
    <h2>Sign up for Tradar</h2>
    <ul class="list error-list">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        <li>{{ field_name }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
    {{ form.csrf_token }}
    <div class="text-input-container">
      <i class="icon-person text-input-icon"></i>
      {{ form.name(class='text-input', placeholder='Name') }}
    </div>
    <div>
        <i class="icon-check-circle-blank text-input-icon"></i>
        I am a
      {{ form.gender(class='dropdown-menu') }}
    </div>
    <div>
      <div class="text-input-container">
        <i class="icon-email text-input-icon"></i>
        {{ form.email(class='text-input', placeholder='Email address') }}
      </div>
      <small>
      <i class="text-input-icon"></i>
      The email belongs to
      {{ form.email_belongs_to(class='dropdown-menu') }}</small>
    </div>
    <div class="text-input-container">
      <i class="icon-event text-input-icon"></i>
      {{ form.birthday(class='text-input', placeholder='Birthday') }}
    </div>
    <small class="checkbox">
      {{ form.accepted_terms }}
      <label for="{{ form.accepted_terms.id }}"></label>
      I accept the <a>Term and Conditions</a>
    </small>
    <div class="card-footer">
      <a class="button color-green-500" href="{{ url_for('login') }}">I have an account</a>
      <input type="submit" class="button color-black" value="Sign up" />
    </div>
  </form>
</div>
{%- endblock %}
