{% extends 'accounts/base.htm' %}
{% block title %}Sign in to Tradar{% endblock %}
{% block login_card_container %}
<form action="{{ url_for('login_withpassword') }}" method="post" class="card login-card">
  <div class="card-icon">
    <i class="icon icon-person"></i>
  </div>
  <h3>Welcome, {{ name }} <small><a href="{{ url_for('login') }}">(Change)</a></small></h3>
  <ul class="list error-list">
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  {% endfor %}
  </ul>
  {{ form.csrf_token }}
  {{ form.username }}
  <div>
    <div class="text-input-container">
    <i class="icon-lock text-input-icon"></i>
    {{ form.password(class='text-input', placeholder='Password', autofocus=True) }}
    </div>
  </div>
  <div class="card-footer">
    <input type="submit" class="button button-full raised color-white bg-green-500" value="Sign in" />
    <a class="button color-grey-500">Forgot password?</a>
  </div>
</form>
{% endblock %}
