{% extends 'accounts/base.htm' %}
{% block title %}Sign up for Tradar{% endblock %}
{% block login_card_container %}
<form action="" method="post" class="card login-card">
  <h2>Sign up for Tradar</h2>
  <div>
    <ul class="list error-list">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        <li>{{ field_name }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
    {{ form.csrf_token }}
    <div class="text-input-container">
      <i class="icon-person text-input-icon"></i>
      {{ form.name(class='text-input', placeholder='Name', autofocus=True) }}
    </div>
    <div>
        <i class="icon-check-circle-blank text-input-icon"></i>
        I am a
      {{ form.gender(class='dropdown-menu') }}
    </div>
    <div>
      <div class="text-input-container">
        <i class="icon-email text-input-icon"></i>
        {{ form.email(class='text-input', placeholder='Email address') }}
      </div>
      <small>
      <i class="text-input-icon"></i>
      The email belongs to
      {{ form.email_belongs_to(class='dropdown-menu') }}</small>
    </div>
    <div class="text-input-container">
      <i class="icon-event text-input-icon"></i>
      {{ form.birthday(class='text-input', placeholder='Birthday') }}
    </div>
    <small class="checkbox">
      {{ form.accepted_terms }}
      <label for="{{ form.accepted_terms.id }}"></label>
      I accept the <a>Term and Conditions</a>
    </small>
  </div>
  <div class="card-footer">
    <input type="submit" class="button button-full raised bg-orange-500 color-white" value="Create Account" />
    <a class="button color-grey-500" href="{{ url_for('login') }}">I already have an account</a>
  </div>
</form>
{%- endblock %}
